.devices-repair__title {
	padding: 15px 16px 16px;
	border-top: 1px solid #D9FFF5;
	color: #7E7E82;
	background: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 100%);
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	text-align: left;
	font-weight: normal;
	text-transform: uppercase;
}
.devices-repair__content {
	padding-right: 32px;
}
.devices-repair__list {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin: 16px;
}
.devices-repair__item {
	min-width: 240px;
	background-color: #FFFFFF;
	border-radius: 6px;
	box-sizing: border-box;
}
.devices-repair__link {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    height: 160px;
	padding: 15px;
	border: 1px solid #EAEAEA;
	border-radius: 6px;
	transition: all 0.1s ease-in-out;
	&:hover {
		box-shadow: inset 0 0 5px 1px rgb(65, 246, 215);
	}
	img {
		align-self: flex-end;
        &:last-child {
			padding: 12px 14px;
			border: 2px solid #FF3E79;
			border-radius: 50%;
		}
	}
}
.devices-repair__description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.devices-repair__expand-button {
	display: none;
}

@media (min-width: 768px) {
	.devices-repair__title {
		padding: 15px 24px 16px;
	}
	.devices-repair__content {
		padding-right: 0;
	}
	.devices-repair__list {
		flex-wrap: wrap;
		max-height: 160px;
		overflow: hidden;
		gap: 16px 24px;
		margin: 24px 24px 0;
		transition: all 0.2s ease-in-out;
	}
	.devices-repair__list--expanded {
		max-height: 800px;
		transition: all 0.2s ease-in-out;
	}
	.devices-repair__item {
		min-width: 224px;
	}
	.devices-repair__expand-button {
		display: flex;
		align-items: center;
		gap: 16px;
		margin: 24px 0 34px 32px;
		img {
			transition: all 0.15s ease-in-out;
		}
	}
	.devices-repair__expand-description {
		font-family: TT Lakes, sans-serif;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: -0.2px;
		text-align: left;
	}
	.devices-repair__expand-button--rotated {
		img {
			transform: rotate(180deg);
			transition: all 0.15s ease-in-out;
		}
	}
	.swiper-pagination {
		margin: 0;
	}
}

@media (min-width: 1120px) {
	.devices-repair__title {
		padding: 15px 32px 16px;
	}
	.devices-repair__list {
		column-gap: 32px;
		margin: 24px 32px 0;
	}
	.devices-repair__item {
		min-width: 240px;
	}
	.devices-repair__expand-button {
		margin: 24px 0 34px 40px;
	}
}
